{% extends 'app_equipments/base/base.html' %}
{% load static %}

{% block content %}
  <!--홈 배경화면-->
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Equipment Manager</h1>
      <p class="subTitle">Page Menu : <span class="typed" data-typed-items="자산 구매 시 추가, 자산 목록 확인, 장비 위치 확인, 공지사항 보기, 문의 메일 보내기"></span></p>
    </div>
  </section><!-- End Hero -->
{% endblock %}