{% extends 'app_equipments/base/base.html' %}
{% load static %}

{% block content %}
<main id="main">
  <!--자산목록 추가-->
  <!-- ======= About Section ======= -->
  <section id="about" class="about ">
    <div class="container about-area">

      <div class="section-title">
        <h2>좌석 확인</h2>
        <p>1. 좌석 번호를 우측에서 선택해주시면 해당 사용자의 장비를 확인합니다.</p>
        <p>2. 장비 삭제 또는 추가 작업이 가능합니다.</p>
      </div>

      <div class="row">

        <!--왼쪽 배치도-->
        <div class="col-lg-4" data-aos="fade-right">
          <img src='{% static "app_equipments/assets/img/seats.PNG" %}' class="img-seats" alt="">
        </div>


        <!--오른쪽 입력-->
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <div class="col-lg-12">
            <div>

              <table>
                <tr>
                  <td>
                    <div class="dropdown">
                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      좌석을 선택해주세요.
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% for i in seat_all %}
                        <a class="dropdown-item" href="{{ i.seat }}">{{ i.seat }}번 좌석 : {{ i.name }}</a>
                        {% endfor %}
                      </div>
                    </div>
                  </td>
                  <td width="20px"></td>
                  <td>
                    <h3>{{user.seat}}번 좌석 : {{user.name}} {{user.rank}}</h3>
                  </td>
                </tr>
              </table>

            </div>


            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">구분</th>
                  <th scope="col">브랜드</th>
                  <th scope="col">스펙</th>
                  <th scope="col">자산여부</th>
                  <th scope="col">삭제</th>
                </tr>
              </thead>
              <tbody>
              {% for device_info in device_usage_info %}
                <tr>
                  <td>{{device_info.category}}</td>
                  <td>{{device_info.brand}}</td>
                  <td>{{device_info.spec}}</td>
                  <td>{{device_info.is_assets}}</td>
                  <td><a href="{% url 'check_seat_delete' user.user_id device_info.device_id %}"><i class="bx bxs-trash"></i></a></td>
                </tr>
              {% endfor %}
              </tbody>
            </table>



                <form method="post">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <button type="submit" class="btn btn-primary btn-lg">추가</button>
                </form>

          </div>
        </div>
      </div>



    </div>
  </section><!-- End About Section -->
</main><!-- End #main -->
{% endblock %}