{% extends 'app_equipments/base/base.html' %}
{% load static %}

{% block content %}
<main id="main">

  <!--자산목록 확인-->
  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume ">
    <div class="container about-area">

      <div class="section-title">
        <h2>총계 확인</h2>
        <p>1. 장비 스펙, 구입일자, 자산여부 총계, 잔여 수를 확인합니다.</p>
        <p>2. 상단 검색 기능으로 구분, 브랜드, 스펙, 자산여부를 검색하여 목록을 가져옵니다.</p>
        <p>3. 하단 목록 추가 버튼을 통해 새로운 장비를 목록으로 추가합니다.</p>
      </div>

      <div class="row">
        <form class="form-inline my-2 my-lg-0" action="" method="GET">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search_key" value="{{search_key}}">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>

      <div>
        <p> </p>
      </div>
      <div class="row">
        <div class="col-lg-16" data-aos="fade-up" style="width:100%;">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">구분</th>
                <th scope="col">브랜드</th>
                <th scope="col">구매일자</th>
                <th scope="col">스펙</th>
                <th scope="col">자산여부</th>
                <th scope="col">총량</th>
                <th scope="col">사용량</th>
                <th scope="col">잔량</th>
              </tr>
            </thead>
            <tbody>
            {% for list in return_list %}

              <tr>
                <td>{{list.category}}</td>
                <td><a href="{% url 'check_total_update' list.device_id%}">{{list.sort}}</a></td>
                <td>{{list.purchase_date}}</td>
                <td>{{list.spec}}</td>
                <td>{{list.is_assets}}</td>
                <td>{{list.total}}</td>
                <td>{{list.amounts}}</td>
                <td>{{list.remains}}</td>
              </tr>

            {% endfor %}
            </tbody>
          </table>

          <div>
            <a href="{% url 'check_total_new' %}">목록 추가</a>
          </div>

          {% if return_list.has_other_pages %}
            <ul class="pagination">
              {% if return_list.has_previous %}
                <li><a href="?page={{ return_list.previous_page_number }}">&laquo;</a></li>
              {% else %}
                <li class="disabled"><span>&laquo;</span></li>
              {% endif %}
              {% for i in return_list.paginator.page_range %}
                {% if return_list.number == i %}
                  <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                  <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
              {% endfor %}
              {% if return_list.has_next %}
                <li><a href="?page={{ return_list.next_page_number }}">&raquo;</a></li>
              {% else %}
                <li class="disabled"><span>&raquo;</span></li>
              {% endif %}
            </ul>
          {% endif %}

        </div>
      </div>

    </div>
  </section><!-- End Resume Section -->


</main><!-- End #main -->
{% endblock %}