{% extends 'app_equipments/base/base.html' %}
{% load static %}

{% block content %}
<main id="main">
    <!--공지사항-->
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container about-area">

        <div class="section-title">
          <h2>공지사항</h2>
          <p>공지사항은 아래에서 확인하시겠습니다.</p>
        </div>

        <div class="owl-carousel testimonials-carousel">

          <div class="testimonial-item" data-aos="fade-up">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              방문해주셔서 감사합니다.<br/>
              VER 1. 장비관리 홈페이지입니다.<br/>
              2021.03.28
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="{% static 'app_equipments/assets/img/profile-img.jpg' %}" class="testimonial-img" alt="">
            <h3>노동경 주임</h3>
            <h4>기술개발팀</h4>
          </div>

          <div class="testimonial-item" data-aos="fade-up">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              장비 및 좌석별 현황확인과 추가, 수정, 삭제<br/>
              기능 구현완료. 지속 개선중.<br/>
              2021.03.29
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="{% static 'app_equipments/assets/img/profile-img.jpg' %}" class="testimonial-img" alt="">
            <h3>노동경 주임</h3>
            <h4>기술개발팀</h4>
          </div>

          <div class="testimonial-item" data-aos="fade-up">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              추가할 장비가 목록에 없다면 문의주세요.<br/>
              010-6510-4595<br/>
              2021.03.29
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="{% static 'app_equipments/assets/img/profile-img.jpg' %}" class="testimonial-img" alt="">
            <h3>노동경 주임</h3>
            <h4>기술개발팀</h4>
          </div>


        </div>

      </div>
    </section><!-- End Testimonials Section -->


</main><!-- End #main -->
{% endblock %}