{% extends 'app_equipments/base/base.html' %}
{% load static %}

{% block content %}
<main id="main">
    <!--공지사항-->
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title">
          <h2>공지사항</h2>
          <p>공지사항은 아래에서 확인하시겠습니다.</p>
        </div>

        <div class="owl-carousel testimonials-carousel">

          <div class="testimonial-item" data-aos="fade-up">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              방문해주셔서 감사합니다.<br/>
              VER1. 장비 관리 홈페이지입니다.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="{% static 'app_equipments/assets/img/profile-img.jpg' %}" class="testimonial-img" alt="">
            <h3>기술개발팀</h3>
            <h4>노동경 주임</h4>
          </div>

          <div class="testimonial-item" data-aos="fade-up">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              스펙 확인, 총계 확인, 좌석 확인 기능이 구현되었습니다. 지속적으로 개선 중입니다.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="{% static 'app_equipments/assets/img/profile-img.jpg' %}" class="testimonial-img" alt="">
            <h3>기술개발팀</h3>
            <h4>노동경 주임</h4>
          </div>

          <div class="testimonial-item" data-aos="fade-up">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              문의하실 내용은 좌측 메뉴에서 개발자 문의를 누르시고 메일을 보내주세요.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="{% static 'app_equipments/assets/img/profile-img.jpg' %}" class="testimonial-img" alt="">
            <h3>기술개발팀</h3>
            <h4>노동경 주임</h4>
          </div>


        </div>

      </div>
    </section><!-- End Testimonials Section -->


</main><!-- End #main -->
{% endblock %}